/* .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.photo-gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap:20px;
}

.photo {
    position: relative;
    height: 230px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
} */

/* .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
}

.photo-gallery {
    box-sizing: border-box;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    gap: 16px;
    align-items: flex-start;
    grid-auto-flow: column;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.container {
    margin: 20px auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex
}

.photo-gallery {
    width: 50%;
    margin: auto;
    display: flex;
    grid-gap:20px;
}

.photo {
    position: relative;
    height: 230px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    border-radius: 10px;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
