/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}


/* div {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
} */


body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

.navigation-header {
    display: flex;
    padding: 0 24px!important;
    max-width: none!important;
    background: rgba(0,0,0,.25);
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
    position: absolute;
    z-index: 20;
    width: 100%;
}

.global-logo {
    margin-left: 20px;
}

#logo-png {
    width: 98px;
    margin-bottom: 2px;
}

#logo-png:hover {
    opacity: .75;
}

#github-logo, #linkedin-logo {
    height: 20px;
    cursor: pointer;
    margin-left: 20px;

}
.global-search {
    display: flex;
    height: 33px;
    width: 80%;
    padding: 0px 33px;
    align-items: center;
}

.global-links {
    color: white;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
}

.global-links:hover {
    color: #898989;
}

.login-signup {
    display: flex;
    margin-right: 20px;
    color: white;
    width: 250px;
    justify-content: flex-end;
    padding: 7px;

}

.logged-in-nav {
    display: flex;
    flex-direction: row;
}

#log-in-button #sign-up-button button {
    height: 50px;
    line-height: 50px;
    position: relative;
    margin: 10px;
}

#upload-icon-button button img {
    width: 32px;
    margin-right: 15px;
}

#logged-in-menu {
    position: relative;
    background-color: transparent;
    box-shadow: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#log-in-button {
    background-color: transparent;
    font-size: 16px;
    border: none;
    color: white;
    margin-right: 16px;
    padding: 10px 10px;
    font-weight: 500;
    cursor: pointer;
}

#sign-up-button {
    color: black;
    background-color: white;
    transition: color .15c ease-in-out;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    border:none;
    cursor: pointer;
}

#sign-up-button:hover {
    color: gray;
}

#upload-icon-button button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: flex;
}

.profile-dropdown {
    position: absolute;
    margin-top: 50px;
    right: 64px!important;
    /* right: 10%; */
    background-color: white;
    justify-content: center;
    font-size: 12px;
    text-align: right;
    padding:12px;
    border-radius: 3px;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.25);
}

.profile-dropdown:after {
    content: '';
    position: absolute;
    right: 12px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 14px solid white;
}

.profile-dropdown p {
    line-height: 2px;
    font-weight: 500;
}

.profile-dropdown li {
    padding: 3px;
}

#profile-logout-button {
    width: 100%;
    color: white;
    background-color: #128fdc;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}



.inspiration-content {
    background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1641762893/Flimmr/john-o-nolan-6f_ANCcbj3o-unsplash_aqeewk.jpg);
    /* display: flex; */
    align-items: center;
    min-height: 800px;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
    animation: slide 20s linear infinite;
}

.inspiration-copy {
    margin: 0px auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspiration-copy h1 {
    color: white;
    font-size: 54px;
    font-weight: 500;
    margin: 200px 0px 5px;
    text-align: center;
}

.inspiration-copy h2 {
    color: white;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}

.inspiration-copy button {
    height: 64px;
    font-size: 24px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.inspiration-copy button:hover {
    color: gray;
}

.splash-footer {
    background-color: black;
    color: hsla(0,0%,100%,.6);
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1.2em;
    text-align: center;
    padding-top: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 14px;
    letter-spacing: .5px;
}


.about-footer {
    background-color: black;
    color: hsla(0,0%,100%,.6);
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1.2em;
    text-align: left;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    text-decoration: none;
    justify-content: center;
}

.signup-form-page, .login-form-page {
    background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1641762893/Flimmr/damir-spanic-DRzpEt8deC4-unsplash_d0ywwq.jpg);
    display: flex;
    align-items: center;
    min-height: 800px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-form-container, .login-form-container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 4rem;
    padding: 2rem;
    width: 100%;
    color: #212124;
    line-height: 1.3;
    font-size: 16px;
}

.signup-form-container form {
    width: 354px;
    height: 650px;
    position: relative;
    background-color: white;
    padding: 1.5rem;
    border-radius: .25rem;
    line-height: 1.3;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
}

.signup-form-container ul li {
    color: red;
    font-size: 12px;
    position: relative;
    padding: 2px;
}

.signup-form-container ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.login-form-container form {
    width: 354px;
    height: 428px;
    position: relative;
    background-color: white;
    padding: 1.5rem;
    border-radius: .25rem;
    line-height: 1.3;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    padding: 16px;
    margin: 10px;
    height: 55px;
    width: 95%;
    border: 1px solid #212124;
    cursor: text;
    color: #212124;
    border-radius: 6px;
    background-color: transparent;
}

#signup-submit-button, #login-submit-button, .demo-button, #upload-submit-button, .edit-submit-button {
    color: white;
    background-color: #128fdc;
    transition: color .15c ease-in-out;
    padding: 16px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 42px;
    width: 95%;
}

form h1 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #212124;
    line-height: 1.3;
}

.flimmr-signup-logo {
    text-align: center;
}

.flimmr-signup-logo img {
    width: 25px;
}

.signup-login-link, .login-signup-link {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

#signup-login-link-link, #login-signup-link-link {
    color: #006dac;
}

.photo-info-container {
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1641762893/Flimmr/dessy-dimcheva-zeMOWL-9mhc-unsplash_ecttle.jpg);
    height: 250px;
    z-index: 1;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.avatar-container {
    position: relative;
    display: flex;
    vertical-align: bottom;
    left: 120px;
    bottom: 20px;
    top: 135px;
    height: 100px;
}

.info-container {
    position: relative;
    margin-bottom: 20px;
    left: 130px;
    top: 135px;
}

.info-container h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    color: white;
    margin-bottom: 3px;
}

.info-container p {
    line-height: 18px;
    font-weight: 300;
    color: white;
    font-weight: 16px;
    bottom: 10px;
    margin-top: 0px;
}

.login-form-container form ul li {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 90px;
    margin-bottom: 10px;
}

.upload-container form ul li {
    color: red;
    font-size: 12px;
    position: relative;
    padding: 2px;
}

.photo-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f3f5f6;
}
.photo-stream-content {
    /* top: 250px; */
    /* margin-top: 50px; */
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows:300px 300px;
    grid-gap:0px;
    /* grid-auto-flow: dense; */
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: purple; */
}

.album-content {
    /* top: 250px; */
    /* margin-top: 50px; */
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:300px 300px;
    grid-gap:20px;
    /* grid-auto-flow: dense; */
    width: 80%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /* background-color: purple; */
}

.new-album-menu {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.photostream-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.photostream-item .photostream-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.photostream-item .photostream-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
}

.w-1{
    grid-column: span 1;
}
.w-2{
    grid-column: span 2;
}
.w-3{
    grid-column: span 3;
}

.single-photo img {
    width: 300px;
    padding: 2px;
}

.single-photo-page {
    display: flex;
    flex-direction: column;
    background-color: #f3f5f6;
}

.single-photo-page {
    position: absolute;
    width: 100%;
}

.single-photo-container {
    /* position: absolute; */
    background-color: #212124;
    width: 100%;
    height: 600px;
    display: flex;
}

.single-photo-container-container {
    display: flex;
    justify-content: center;
}

.single-photo-container a {
    left: 50px;
    top: 75px;
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 13px;
    display: flex;
}

#back-to-photostream {
    font-size: 24px;
    margin-top: -3px;
    margin-right:5px;
}


.single-photo-page-photo {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

.single-photo-page-photo img {
    max-height: 96%;
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 5px;
    border: 1px solid lightgray;
    background-color: lightgray;
}

.name-and-edit {
    display: inline-flex;
}

#edit-photo-button {
 /* position: absolute;
 display: flex;
 right: 200px;
 top: 625px; */
 cursor: pointer;
 height: 25px;
 color: gray;
 background-color: transparent;
 border: none;
 font-size: 20px;
 margin-top: 20px;
 margin-left: 10px;
}

#edit-photo-button:hover {
  color: #00205B;
}

.photo-description {
    /* position: absolute;
    margin-top: 600px; */
    display: flex;
    background-color: #f3f5f6;
    width: 80%;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
  }

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .photo-edit-delete-form {
      position: absolute;
      top: 720px;
  }

  .photo-avatar-container {
    width: 60px;
    height: 60px;
    background-color: #00205B;
    /* position: absolute; */
    display: flex;
    vertical-align: bottom;
    border-radius: 100%;
    left: 40px;
    bottom: 20px;
    top: 20px;
}

.photo-description-text {
    position: absolute;
    left: 120px;
    display: flex;
    flex-direction: column;
}

.editBox {
    position: absolute;
    left: 120px;
    width: 400px;
}

.editBox ul li {
    color: red;
    font-size: 12px;
    position: relative;
    padding: 2px;
}

.heart-logo, .small {
    position: relative;
    width: 130%;
    height: auto;
    cursor: pointer;
}

.medium {
    position: relative;
    justify-content: center;
    height: 75%;
    width: auto;
    top: 16px;
    left: 4px;

}

.heart-logo-photo-page {
    position: absolute;
    top: 0px;
    height: 40px;
    left: 46px;
    top: 32px;
}

@keyframes slide {
    0% {
        background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/1_swxnmr.jpg);
    }
    20% {
        background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/1_swxnmr.jpg),
        url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/3_httdlk.jpg);
    }
    25% {
        background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/3_httdlk.jpg);
    }
    45% {
        background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/3_httdlk.jpg),
        url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/4_nawmmq.jpg);
    }
    50% {
        background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/4_nawmmq.jpg);
    }
    70% {
        background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/4_nawmmq.jpg),
        url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/2_xzpavf.jpg);
    }
    75% {
        background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/2_xzpavf.jpg);
    }
    95% {
        background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1642143467/Flimmr/2_xzpavf.jpg);
    }
}


/* VERSION 2.0 */

.upload-page {
background: rgb(44,44,44);
    display: flex;
    align-items: center;
    min-height: 800px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.upload-container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 4rem;
    padding: 2rem;
    width: 100%;
    color: #212124;
    line-height: 1.3;
    font-size: 16px;
}

.upload-container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#label-for-upload {
    cursor: pointer;
}

#upload-button {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.upload-link-a {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #898989;
}

.upload-link-b {
    font-size: 14px;
    text-align: center;
    text-decoration: underline;
    color: #898989;
}

.upload-text {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.upload-text-two{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}

#label-for-upload {
    color: white;
    background-color: #128fdc;
    padding: 16px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 0px;
    height: 42px;
    text-align: center;
}

.upload-verification {
    justify-self: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 24px;
    color: #128fdc;
    height: 24px;
}

.upload-image-name {
    color: white;
    padding: 16px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-top: 0px;
    height: 42px;
    text-align: center;
}

.description-left-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 60px;
    margin-bottom: 120px;
}

.description-right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.avatar-div {
    width: 15%;
}

.photo-info {
    width: 87%;
    /* margin-left: 5px; */
    border-bottom: 1px solid #cfd6d9;
    padding-bottom: 10px;
}

.additional-photo-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1px solid #cfd6d9;
    justify-content: space-between;
    margin-bottom: 20px;
}

.photo-info-left {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 13px;
    margin-right: 30px;
    line-height: 18px;
    float: left;
}

.photo-info-right {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-top: 13px;
    line-height: 18px;
    float: left;
    font-size: 15px;
}

.view-count {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.comment-count {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.count-label {
    font-weight: 400;
    font-size: 20px;
}

.count-text {
    color: #898989;
    font-size: 13px;
}

.photo-album-info {
    text-align: center;
    border: 1px solid #cfd6d9;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 3px;
}

.photo-album-info p {
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 0px;
    line-height: 24px;
}

.photo-album-exists {
    padding-bottom: 17px;
    border-top: 1px solid #cfd6d9;
}

.camera {
    height: 32px;
    width: 32px;
    background-image: url(https://flimmr.s3.us-east-2.amazonaws.com/Flimmr+Default+Icon.jpg);
    background-size: contain;
    border-radius: 50%;
}

.avatar {
    height: 60px;
    width: 60px;
    background-image: url(https://flimmr.s3.us-east-2.amazonaws.com/Flimmr+Default+Icon.jpg);
    background-size: contain;
    border-radius: 50%;
}

.large-avatar {
    height: 100px;
    width: 100px;
    background-image: url(https://flimmr.s3.us-east-2.amazonaws.com/Flimmr+Default+Icon.jpg);
    background-size: contain;
    border-radius: 50%;
}

.photo-edit-icon {
    height: 30px;
    width: 30px;
    padding: 6px;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 560px;
    right: 120px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.photo-edit-icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 37px;
    padding: 6px;
    font-size: 25px;
    color: white;
    margin-left: 15px;
    left: auto;
    right: auto;
    top: auto;
    bottom: -7px;
    cursor: pointer;
}

.photo-edit-content {
    top: -40px;
    left: -132px;
    position: absolute;
    width: 170px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow:  0 0 1px rgb(0 0 0 / 30%), 0 1px 4px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photo-edit-dropdown {
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
}

.photo-edit-delete {
    margin-bottom: 8px;
    background-color: transparent;
    border: none;
    color: red;
    font-size: 14px;
    cursor: pointer;
}

.photo-edit-arrow {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 7px;
    background-color: #fff;
    border-radius: 2px;
    transform: rotate(45deg);
    position: absolute;
    right: 10px;
    bottom: -6px;
}


.top-left {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

#photo-title {
    width: 90%;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 10px;
    min-height: 18px;
    word-wrap: break-word;
}

#photo-edit {
    width: 10%;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    color: rgb(147, 148, 148);
}

#photo-edit:hover {
    color: rgb(58, 57, 57);
}

.title-and-edit button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.title-and-edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.photo-description-label {
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.session-user-name {
    font-size: 18px;
    padding-left: 5px;
    font-weight: 600;
    color: #212124;
    padding-bottom: 4px;
}

.info-shadow {
    transition: background-color .2s ease-in-out;
    padding: 5px;
}

.info-shadow:hover {
    background-color: rgb(230, 232, 233);
}

.photo-title-input, .photo-description-input {
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    height: 32px;
    padding: 0 0 0 10px;
    width: 100%;
    box-shadow: inset 0 0 0 1px #9ea4a7;
    border-radius: 3px;
    background-color: #fff;
    margin: 0px;
    margin-bottom: 10px;
    border: none;
}

.photo-title-input:focus, .photo-description-input:focus {
    border: 0.2px solid #1c9be9;
    outline-offset: 0px;
    outline: none;
}


.title-and-edit-form{
    display: flex;
    flex-direction: column;
}

.photo-description-input {
    height: 58px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    word-wrap: break-word;
    padding: 10px;
}

.info-shadow-edit {
    padding: 5px;
}

.photo-edit-form-button {
    font-size: 14px;
    font-weight: 600;
    float: right;
    text-decoration: none;
    min-width: 100px;
    background: #128fdc;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    padding: 0 8px;
    height: 32px;
    margin-bottom: 5px;
}

.comment-list, .add-comment-form {
    /* margin-left: 20px; */
    margin-top: 5px;
    padding: 5px 0px;
}

.comment-container {
    /* background-color: purple; */
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
    justify-content: space-between;
    margin-bottom: 4px;
}

.comment-container:hover {
    background-color: #fff;
}

.comment-right {
    display: flex;
    flex-direction: column;
    width: 87%;
    padding-right: 5px;
}

.author-and-edit-comment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
}

.comment-list-avatar {
    margin-left: 28px;
}

.comment-author {
    padding-left: 5px;
    margin-bottom: 2px;
    color: #006dac;
    line-height: 24px;
    font-weight: 600;
    font-size: 14px;
}

.comment-body {
    padding-left: 5px;
    font-size: 13px;
    margin-bottom: 15px;
}

.comment-edit-delete button {
    background: transparent;
    border: none;
    padding: 2px;
}

.comment-edit-delete {
    width: 10%;
    display: flex;
    flex-direction: row;
    margin-right: 22px;
}

#comment-edit-icon {
    font-size: 16px;
    margin-left: 2px;
    margin-right: 2px;
    color: rgb(147, 148, 148);
    cursor: pointer;
}

#comment-edit-icon:hover {
    color: rgb(58, 57, 57);
}

#comment-delete-icon {
    font-size: 16px;
    margin-left: 2px;
    margin-right: 2px;
    color: rgb(147, 148, 148);
    cursor: pointer;
}

#comment-delete-icon:hover {
    color: rgb(58, 57, 57);
}

.add-comment-container {
    /* background-color: purple; */
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
    justify-content: space-between;
    margin-bottom: 4px;
}

.album-modal-container {
    width: 600px;
    height: 392px;
}

.album-modal-container form {
    padding: 20px;
}

#description-optional {
    height: 100px;
}

.add-to-album-container {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    height: 52px;
    align-items: center;
    font-size: 15px;
    color: #212124;
}

.add-to {
    padding-right: 20px;
    font-weight: 600;
}

.album-header {
    padding: 16px;
    border-bottom: 3px solid #128fdc;
    margin-bottom: -3px;
}

.album-search-header {
    margin: 0px 20px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    height: 36px;
}

.album-list {
    height: 234px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.album-footer {
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;
}

.album-footer button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#album-plus {
    font-size: 20px;
    color: rgb(147, 148, 148);
    margin-top: 6px;
}

#create-new-album {
    color: #006dac;
    font-size: 13px;
    margin-left: 20px;
    align-items: center;
}

#create-new-album:hover {
    text-decoration: underline;
}

#new-album-done {
    height: 29px;
    font-size: 13px;
    background-color: #128fdc;
    color: #fff;
    min-width: 80px;
    line-height: 29px;
    font-weight: 600;
    border-radius: 3px;
    justify-content: center;
}

#no-albums {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #898989;
    font-size: 13px;
}

.album-list-container {
    display: flex;
    flex-direction: row;
    width: 556px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    margin-top: 2px;
    cursor: pointer;
}

.album-list-container:hover {
    background-color:#f3f5f6;
}

.album-list-cover-image {
    height: 52px;
    width: 52px;
    font-size: 42px;
    align-self: center;
    text-align: center;
    color: #898989;
}

.album-list-name {
    width: 444px;
    color: #006dac;
    font-weight: 600;
    font-size: 13px;
    padding-top: 8px;
}

.album-list-check {
    width: 60px;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 20px;
    color: #006dac;
}

#add-to-album-button {
    background-color: transparent;
    border: none;
    font-size: 13px;
    color: #006dac;
    cursor: pointer;
    margin-bottom: 16px;
    line-height: 24px;
}

#add-to-album-button:hover {
    text-decoration: underline;
}

.photo-album-top {
    margin: 20px 0 6px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.photo-top-left {
    font-size: 15px;
}

.photo-top-right button{
    font-size: 13px;
    background-color: transparent;
    border: none;
    color: #006dac;
    cursor: pointer;
}

.photo-top-right button:hover {
    text-decoration: underline;
}

.photo-album-bottom {
    padding: 9px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: row;
    width: 50%;
}

.photo-album-bottom:hover {
    background-color: rgb(230, 232, 233);
}

.photo-album-right-exit {
    color: #898989;
    display: flex;
    cursor: pointer;
    width: 10%;
    margin-right: 0px;
    margin-left: auto;
}

.photo-bottom-left {
    height: 48px;
    width: 48px;
    color: #898989;
    font-size: 48px;
    margin-right: 20px;
    text-align: center;
    vertical-align: center;
}

.photo-album-name {
    color: #006dac;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

.photo-album-name:hover {
    text-decoration: underline;
}

.photo-album-name a {
    color: #006dac;
}

.photo-album-name-no-link {
    color: #006dac;
    font-size: 13px;
    font-weight: 600;
}

.photo-album-items {
    font-size: 14px;
    color: #898989;
    margin-top: 3px;
}

.menu-bar {
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid hsla(0,0%,54%,.3);
}

.menu-bar-content {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.photostream-menu-label {
    padding: 12px 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 170%;
    z-index: 45;
    cursor: pointer;
    margin-left: 5px;
}

.photostream-menu-label:hover {
    border-bottom: 1px solid #006dac;
}

.menu-bar-content a {
    text-decoration: none;
    color: inherit;
    z-index: 50;
}

.border {
    border-bottom: 1px solid #006dac;
}

.album-photo img:hover {
    border: 1px solid rgba(0,0,0,.25);
}

.new-album-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    color: #737b80;
    justify-content: flex-end;
    cursor: pointer;
}

.add-album-menu {
    font-size: 20px;
}
.add-album-text {
    padding-left: 10px;
}

.album-page-container {
    background-color: #f3f5f6;
}

#navbar-background {
    background-color: #212124;
    height: 64px;
}

.album-page-content {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.album-page-menu {
    display: flex;
    flex-direction: row;
    color: #212124;
    margin: 20px 0px;
    font-weight: 600;
    font-size: 15px;
}

.album-page-menu a {
    text-decoration: none;
    color: #212124;
}

.album-page-background-photo {
    height: 300px;
    width: 100%;
    background-size: cover;
    object-position: 50% 50%;
    display: flex;
    flex-direction: column;
}

.album-left-arrow {
    font-size: 25px;
    margin-top: -2px;
}

.album-stream-content {
    margin-top: 5px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows:300px 300px;
    /* grid-auto-flow: dense; */
    grid-gap: 5px;
    margin-bottom: 60px;
}

.album-stream-content img {
    padding: 0px;
}

.album-title-description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 10px 5px;
    cursor: text;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    margin-top: 44px;
}

.album-title-description:hover {
    background: rgba(0,0,0,.4);
    border-radius: 2px;
}

.album-title-description-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 10px 5px;
    cursor: text;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    margin-top: 44px;
    background: rgba(0,0,0,.4);
    border-radius: 2px;
}

.album-title-description-form input {
    color: white;
    /* text-shadow: 0 1px 1px #000; */
    border: none;
    text-align: center;
    /* background-color: purple; */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    height: auto;
}

.album-title-description-form button { 
    background-color: transparent;
    color: white;
    border: 1px solid white;
    opacity: .8;
    font-size: 15px;
    border-radius: 3px;
    padding: 4px 20px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
}

.album-title {
    font-size: 32px;
}

.album-description {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 13px;
    font-style: italic;
}

input + .album-description{
    padding-top: 12px;
    padding-bottom: 0px;
}

input.album-title {
    padding-bottom: 0px;
}

.number-of-photos, .by-user {
    font-size: 14px;
    text-shadow: 0 1px 1px #000;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.by-user {
    margin-top: 60px;
}

.by-user a {
    color: white;
}

.by-user a:hover {
    text-decoration: underline;
}

.edit-button-hover {
    position: absolute;
    margin-top: 10px;
    font-size: 20px;
}

.empty-album {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

#make-an-album {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 300;
}

#easily-organize {
    max-width: 700px;
    padding: 0 16px 16px;
    font-size: 16px;
    font-weight: 400;
}

#go-to-photostream {
    height: 36px;
    line-height: 36px;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    background-color: #128fdc;
    color: rgb(245, 239, 239);
    align-self: center;
    padding: 0 20px;
    border: none;
}

#go-to-photostream a {
    text-decoration: none;
    color: white;
}

#go-to-photostream:hover {
    background-color: #3a97d1;
}

.album-delete-button{
    cursor: pointer;
    font-size: 22px;
    color: white;
    background-color: transparent;
    border: none;
    margin-top: 15px;
}

.create-a-new-album {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 18px;
    font-size: 16px;
}

.close-create-album {
    /* color: #898989; */
    font-size: 22px;
    opacity: .3;
    cursor: pointer;
}

.create-album-form input, textarea {
    margin: 0px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: inset 0 0 0 1px #9ea4a7;
    border: none;
    outline: none;
    padding: 6px 10px;
    border-radius: 3px;
    font-size: 13px;
    line-height: 1.5;
    background-color: white;
    font-weight: 400;
    height: auto;
    text-align: start;
}

.create-album-form input:focus, textarea:focus {
    box-shadow: inset 0 0 0 1px #3a97d1;
}

.create-album-buttons {
    height: 140px;
    display: flex;
    justify-content: flex-end;
}

.create-album-buttons button {
    margin-left: 10px;
    /* padding-right: 20px; */
    margin: 0 0 0 10px!important;
    height: 29px;
    line-height: 29px;
    min-width: 85px;
    font-size: 14px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.create-album-cancel {
    background-color: #979ea2;
}

.create-album-create {
    background-color: #128fdc;
}

.explore-header {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
}

.no-album {
    margin-bottom: 16px;
    line-height: 24px;
}

.photo-stream-album-info {
    position: absolute;
    margin-top: -60px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-weight: 400;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

#album-image-count {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}
