/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}


/* div {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
} */


body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

.navigation-header {
    display: flex;
    padding: 0 24px!important;
    max-width: none!important;
    background: rgba(0,0,0,.25);
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
    position: absolute;
    z-index: 20;
    width: 100%;
}

.global-logo {
    margin-left: 20px;
}
#logo-png {
    width: 98px;
    margin-bottom: 2px;
}

#github-logo, #linkedin-logo {
    height: 20px;
    cursor: pointer;
    margin-left: 20px;

}
.global-search {
    height: 33px;
    width: 80%;
    padding: 0px 33px;

}
.login-signup {
    display: flex;
    margin-right: 20px;
    color: white;
    width: 250px;
    justify-content: flex-end;
    padding: 7px;

}

.logged-in-nav {
    display: flex;
    flex-direction: row;
}

#log-in-button #sign-up-button button {
    height: 50px;
    line-height: 50px;
    position: relative;
    margin: 10px;
}

#upload-button button img {
    width: 50px;
    margin-right: 20px
}

#logged-in-menu {
    border-radius: 100%;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: none;
    border: none;
}


#log-in-button {
    background-color: transparent;
    font-size: 16px;
    border: none;
    color: white;
    margin-right: 16px;
    padding: 10px 10px;
    font-weight: 500;
    cursor: pointer;
}

#sign-up-button {
    color: black;
    background-color: white;
    transition: color .15c ease-in-out;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    border:none;
    cursor: pointer;
}

#upload-button button {
    background: transparent;
    border: none;
    cursor: pointer;
    position: flex;
}

.profile-dropdown {
    position: absolute;
    margin-top: 60px;
    background-color: white;
    justify-content: center;
}

.profile-dropdown li {
    padding: 3px;
}

#profile-logout-button {
    width: 100%;
    color: white;
    background-color: #128fdc;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}


/* .splash-inspiration{
    opacity: 1!important;
    height: 100%;
    min-width: 0;
    padding: 0;
    overflow-y: hidden;
    position: relative;
    display: block;
} */

.inspiration-content {
    background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1641762893/Flimmr/john-o-nolan-6f_ANCcbj3o-unsplash_aqeewk.jpg);
    /* display: flex; */
    align-items: center;
    min-height: 800px;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.inspiration-copy {
    margin: 0px auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspiration-copy h1 {
    color: white;
    font-size: 54px;
    font-weight: 500;
    margin: 200px 0px 5px;
    text-align: center;
}

.inspiration-copy h2 {
    color: white;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}

.inspiration-copy button {
    height: 64px;
    font-size: 24px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.splash-footer {
    background-color: black;
    color: hsla(0,0%,100%,.6);
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1.2em;
    text-align: center;
    padding-top: 10px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 14px;
    letter-spacing: .5px;
}


.about-footer {
    background-color: black;
    color: hsla(0,0%,100%,.6);
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 1.2em;
    text-align: left;
    padding-top: 10px;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    text-decoration: none;
    justify-content: center;
}

.signup-form-page, .login-form-page, .upload-page {
    background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1641762893/Flimmr/damir-spanic-DRzpEt8deC4-unsplash_d0ywwq.jpg);
    display: flex;
    align-items: center;
    min-height: 800px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-form-container, .login-form-container, .upload-container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 4rem;
    padding: 2rem;
    width: 100%;
    color: #212124;
    line-height: 1.3;
    font-size: 16px;
}

.signup-form-container form {
    width: 354px;
    height: 600px;
    position: relative;
    background-color: white;
    padding: 1.5rem;
    border-radius: .25rem;
    line-height: 1.3;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
}

.login-form-container form, .upload-container form {
    width: 354px;
    height: 428px;
    position: relative;
    background-color: white;
    padding: 1.5rem;
    border-radius: .25rem;
    line-height: 1.3;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    padding: 16px;
    margin: 10px;
    height: 55px;
    width: 95%;
    border: 1px solid #212124;
    cursor: text;
    color: #212124;
    border-radius: 6px;
    background-color: transparent;
}

#signup-submit-button, #login-submit-button, .demo-button, #upload-submit-button, .edit-submit-button {
    color: white;
    background-color: #128fdc;
    transition: color .15c ease-in-out;
    padding: 16px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    border:none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 42px;
    width: 95%;
}

form h1 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #212124;
    line-height: 1.3;
}

.flimmr-signup-logo {
    text-align: center;
}

.flimmr-signup-logo img {
    width: 25px;
}

.signup-login-link, .login-signup-link {
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

#signup-login-link-link, #login-signup-link-link {
    color: #006dac;
}

/* .photo-page{
    display: flex;
    align-items: center;
    min-height: 800px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 60px;
}

main .photo div img {
    position: relative;
    flex-direction: row;
    height: 300px;
    width: auto;
} */

/* .photo div a img {
    height: 300px;
} */

/* .photo-page {
    background-color: #f3f5f6;
    display: flex;
    align-items: center;
    min-height: 800px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
} */


.photo-info-container {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1641762893/Flimmr/dessy-dimcheva-zeMOWL-9mhc-unsplash_ecttle.jpg);
    height: 250px;
    z-index: 1;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}

.avatar-container {
    width: 100px;
    height: 100px;
    background-color: #F02427;
    position: relative;
    display: flex;
    vertical-align: bottom;
    border-radius: 100%;
    left: 120px;
    bottom: 20px;
    top: 135px;
}

.info-container {
    position: relative;
    margin-bottom: 20px;
    left: 130px;
    top: 135px;
}

.info-container h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 400;
    color: white;
    margin-bottom: 3px;
}

.info-container p {
    line-height: 18px;
    font-weight: 300;
    color: white;
    font-weight: 16px;
    bottom: 10px;
    margin-top: 0px;
}



.photo-stream-content {
    position: absolute;
    top: 250px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

/* .single-photo {
    display: flex;
    flex-flow: column wrap;
} */

.single-photo img {
    width: 300px;
    padding: 10px;
}

/* .photo-gallery-photo a img {
    margin-top: 230px;
    display: inline-grid;
    height: 80%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    align-items: center;
    align-content:center;
    column-gap: 10px;
    row-gap: 20px;
}

.photo-gallery-photo img {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    height: 400px;
} */

/* .photo-gallery-photo a img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    justify-content: center;
}  */

.single-photo-page {
    display: block;
}

.single-photo-page {
    position: absolute;
    width: 100%;
}

.single-photo-container {
    position: absolute;
    background-color: #212124;
    width: 100%;
    height: 600px;
}

.single-photo-container-container {
    display: flex;
    justify-content: center;
}

.single-photo-container a {
    left: 50px;
    top: 75px;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 13px;
    display: flex;
}

.single-photo-container img {
    max-width: 80%;
    max-height: 70%;
    position: absolute;
    padding: 5px;
    bottom: 10px;
    border: 1px solid lightgray;
    background-color: lightgray;
    align-items: center;
    left: 250px;
}

#edit-photo-button {
 position: absolute;
 left: 200px;
 bottom: 10px;
}

.photo-description {
    position: absolute;
    margin-top: 600px;
    display: flex;
    background-color: #f3f5f6;
    width: 100%;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 5px;
  }

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .photo-edit-delete-form {
      position: absolute;
      top: 700px;
  }

  .photo-avatar-container {
    width: 60px;
    height: 60px;
    background-color: #F02427;
    position: absolute;
    display: flex;
    vertical-align: bottom;
    border-radius: 100%;
    left: 40px;
    bottom: 20px;
    top: 20px;
}

.photo-description-text {
    position: absolute;
    left: 120px;
}

.editBox {
    position: absolute;
    left: 120px;
    width: 400px;
}
