/* TODO Add site wide styles */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}


div {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

.navigation-header {
    display: flex;
    padding: 0 24px!important;
    max-width: none!important;
    background: rgba(0,0,0,.25);
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: left;
    position: absolute;
    z-index: 20;
    width: 100%;
}

.global-logo {
    margin-left: 20px;
}
#logo-png {
    width: 98px;
    margin-bottom: 2px;
}

.global-search {
    height: 33px;
    width: 80%;
    padding: 0px 33px;

}
.login-signup {
    display: flex;
    margin-right: 20px;
    color: white;
    width: 250px;
    justify-content: flex-end;
    padding: 7px;

}

#log-in-button #sign-up-button button {
    height: 32px;
    line-height: 32px;
}

#log-in-button {
    background-color: transparent;
    font-size: 16px;
    border: none;
    color: white;
    margin-right: 16px;
    padding: 10px 10px;
    font-weight: 500;
    cursor: pointer;
}

#sign-up-button {
    color: black;
    background-color: white;
    transition: color .15c ease-in-out;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
    border:none;
    cursor: pointer;
}

/* .splash-inspiration{
    opacity: 1!important;
    height: 100%;
    min-width: 0;
    padding: 0;
    overflow-y: hidden;
    position: relative;
    display: block;
} */

.inspiration-content {
    background-image: url(https://res.cloudinary.com/ddxtopm0l/image/upload/v1641762893/Flimmr/john-o-nolan-6f_ANCcbj3o-unsplash_aqeewk.jpg);
    /* display: flex; */
    align-items: center;
    min-height: 800px;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    background-repeat: no-repeat;
    background-size: cover;
}

.inspiration-copy {
    margin: 0px auto;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inspiration-copy h1 {
    color: white;
    font-size: 54px;
    font-weight: 500;
    margin: 200px 0px 5px;
    text-align: center;
}

.inspiration-copy h2 {
    color: white;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}

.inspiration-copy button {
    height: 64px;
    font-size: 24px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
}

.splash-footer {
    background-color: black;
    color: hsla(0,0%,100%,.6);
    position: absolute;
    bottom: 0;
    line-height: 1.2em;
    text-align: center;
    height: 68px;
    width: 100%;
    display: flex;
    margin: 0 24px!important;
    justify-content: space-around;
    flex-direction: row;
}
